* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--site-color-fondo-1);
}

main {
  padding-top: 0px !important;
}

.login-container {
  display: none;
}

.login-container.visible {
  display: flex;
}

.login-container {
  min-height: 100dvh;
  gap: 20px;
}

.login-left {
  flex: 1;
  background-color: var(--site-color-fondo-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-placeholder {
  width: 100%;
  max-width: 350px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  border-radius: 20px;
  overflow: hidden;
}

.img-placeholder img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.left-texts {
  text-align: center;
  font-size: 1rem;
  color: var(--site-color-negro-texto);
}

.left-texts p {
  margin-bottom: 0.7rem;
  font-weight: 500;
}

.left-texts a {
  color: var(--site-color-negro-texto);
  text-decoration: underline;
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.admin-link {
  font-size: 0.95rem;
  color: var(--site-color-negro-texto);
}

.admin-link span {
  color: var(--site-color-verde);
}


.login-right {
  flex: 1;
  background-color: var(--site-color-fondo-2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-form {
  width: 60%;
  text-align: center;

}

.logo {
  width: 120px;
  margin-bottom: 1rem;
}

h1 {
  font-family: var(--site-font-title);
  font-size: 2rem;
  color: var(--site-color-negro-texto);
  margin-bottom: 0.5rem;
  margin-top: -20px;
}

p {
  margin-bottom: 1.5rem;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: var(--site-font-body);
}

button {
  padding: 0.75rem;
  background-color: var(--site-color-verde);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #3e9f45;
}

label {
  text-align: start;
}

.register-text {
  margin-top: 1rem;
}

.register-text a {
  color: var(--site-color-verde);
  text-decoration: none;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.mi-alerta-personalizada {
  font-family: 'Quicksand', sans-serif;
  background-color: #f0f9ff;
  border-radius: 20px;
  padding: 20px;
  color: #000;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.ok-personalizado {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--site-color-verde);
  font-size: 15px;
}

.ok-personalizado:hover {
  background-color: #4CAF4F;
  opacity: 0.9;
}


@media (max-width: 1279px) and (min-width: 769px) {
  .login-form {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
}


@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    padding: 20px;
  }

  .login-left,
  .login-right {
    flex: none;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
  }

  .img-placeholder {
    max-width: 300px;
    aspect-ratio: 1 / 1;
  }

  .login-form {
    width: 90%;
    padding: 0 20px;
  }

  .logo {
    width: 100px;
  }

  h1 {
    font-size: 1.5rem;
  }

  input,
  button {
    width: 100%;
  }
}