

.footer-personalizado {
  background-color: #442B48 !important;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}

.footer-personalizado h5,
.footer-personalizado p,
.footer-personalizado a {
  margin-bottom: 0.5rem;
}

.fab {
  color:#ffffff;
}
.contactanos{
  color:#ffffff;
}

.footer-personalizado a:hover {
  text-decoration: underline;
}
