.custom-navbar {
  background-color: #CFAFD8;
}

.custom-navbar .navbar-nav {
  font-weight: 700;
} 

.bg-verde-root {
  background-color: var(--site-color-verde);

}

.nav-link-tamaño {
  min-width: 130px; /* Puedes ajustar este valor según el diseño */
  text-align: center;
}

