@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Quicksand&display=swap');
:root {
  --site-color-fondo-1: #F5F7FA;
  --site-color-fondo-2: #FFF;
  --site-color-verde: #4CAF4F;
  --site-color-lila: #CFAFD8;
  --site-color-blanco-texto: #FFFFFF;
  --site-color-negro-texto: #000000;
  
  --site-font-title: 'Fredoka', sans-serif;
  --site-font-body: 'Quicksand', sans-serif;
}

.custom-navbar {
  background-color: #CFAFD8;
}

.custom-navbar .navbar-nav {
  font-weight: 700;
} 

.bg-verde-root {
  background-color: var(--site-color-verde);

}

.nav-link-tamaño {
  min-width: 130px; /* Puedes ajustar este valor según el diseño */
  text-align: center;
}

.form button {
  background-color: var(--site-color-verde);
  color: var(--site-color-blanco-texto);
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.logo-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.logo-container {
  margin-right: auto; /* Empuja todo a la derecha */
  padding-left: 0%;
}

@media (max-width: 991.98px) {
  .logo-container {
    margin-left: 0 !important;
    padding-left: 8px;
  }

  .logo-img {
    width: 55px;
    height: 55px;
  }

  .navbar-brand {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .logo-img {
    width: 50px;
    height: 50px;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }
}


