/* ======== ¿Quiénes somos? ======== */

/* ======== Misión y vision ======== */

/* ======== Valores ======== */

/* ======== Equipo ======== */
.equipo {
    text-align: center;
    padding: 40px;
    background-color: var(--site-color-fondo-1);
    font-family: var(--site-font-body);
  }

  .menu {
    text-align: left;
    
  }
  
  .equipo h2 {
    font-family: var(--site-font-title);
    font-size: 2em;
    margin-bottom: 30px;
    color: var(--site-color-negro-texto);
  }
  
  .fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .miembro {
    width: 200px;
    text-align: center;
  }
  
  .miembro img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  .miembro img:hover {
    transform: scale(1.05);
  }
  
  .miembro h3 {
    margin: 0;
    font-size: 1.1em;
    font-family: var(--site-font-title);
    color: var(--site-color-negro-texto);
  }
  
  .miembro p {
    font-size: 0.9em;
    color: #666;
  }
  
  .barra-lateral {
    position: fixed;
    top: 50%;
    left: 0;
    width: 250px;
    height: auto;
    padding-top: 20px;
    transform: translateY(-50%);
    font-family: var(--site-color-negro-texto);
  }
  
  .menu-lateral ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-lateral li {
    margin-bottom: 20px;
  }
  
  .menu-lateral a {
    text-decoration: none;
    color: var(--site-color-negro-texto);
    font-size: 1.2em;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
  }
  
  .menu-lateral a:hover {
    background-color: var(--site-color-lila);
  }