section {
  scroll-margin-top: 100px; /* o la altura de tu nav */
}
/* ======== Menú Barra Lateral ======== */

.menu {
    text-align: left;
    
}

.opciones-lateral {
    position: fixed;
    top: 35%;
    left: 0;
    width: 250px;
    height: auto;
    padding-top: 20px;
    transform: translateY(-50%);
    font-family: var(--site-color-negro-texto);
  }

  .menu-sobrenosotros ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-sobrenosotros li {
    margin-bottom: 20px;
  }
  
  .menu-sobrenosotros a {
    text-decoration: none;
    color: var(--site-color-negro-texto);
    font-size: 1.2em;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
  }
  
  .menu-sobrenosotros a:hover {
    background-color: var(--site-color-lila);
  }
  
  @media (max-width: 699px) {
    .opciones-lateral{
      display: none;
    }
  }

/* ======== ¿Quiénes somos? ======== */
.quienes-somos {
    text-align: center;
    background-color: var(--site-color-fondo-2);
    font-family: var(--site-font-body);
    padding: 40px;
}

.quienes-somos h2 {
    font-family: var(--site-font-title);
    font-size: 2em;
    margin-bottom: 30px;
    color: var(--site-color-verde);
}

  .contenedor {
    display: flex;
    align-items: left;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 60px;
  }
  .contenedor img {
    height: 280px; 
    margin-right: 15px;
  }

  .justificado {
    text-align: justify;
    line-height: 1.6;
  }


/* ======== Misión y vision ======== */

.misionyvision{
    background-color: var(--site-color-fondo-1);
}
.containerletter h1{
    font-size: 50px;
    color:var(--site-color-negro-texto);
}

.containerletter h3{
    font-size: 25px;
    color: var(  --site-color-blanco-texto);
    background-color: var(--site-color-verde);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    
}

.col-4 {
    display: grid;
    place-items: center;
}

hr {
    color: transparent;
}

.row{
    display: flex;
    justify-content: center;
}


.containerletter{
    display: flex;
    justify-content: center;
    width: 50%;
}


.vertical{
    margin-left: 5%;
    margin-right: 5%;
}

/* ======== Valores ======== */

.valores-container {
  margin-top: 85px;
  width: 75%;
  margin-left: 25%;
}

.valores-container h2 {
  font-family: var(--site-font-title);
  color: var(--site-color-verde);
  text-align: center;
}

.valor-item {
  text-align: center;
  margin-bottom: 2rem;
}

.valor-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  background: #ddd;
}

.valor-item p {
  max-width: 250px;
  margin: 0 auto;
}

.texto-lila {
  color: var(--site-color-lila);
}

.texto-verde {
  color: var(--site-color-verde);
}

.breadcrumb {
  font-weight: bold;
  font-family: var(--site-font-title);
  margin: 1rem;
}

/* ======================= RESPONSIVE ======================= */

@media (min-width: 1280px) {
  .contenedor {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .valores-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .valores-container h2 {
    grid-column: 1 / -1;
  }
  .breadcrumb {
    display: none;
  }
}

@media (max-width: 1279px) and (min-width: 700px) {
  .contenedor {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .valores-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .valores-container h2 {
    grid-column: 1 / -1;
  }

  .breadcrumb {
    display: none;
  }
}

@media (max-width: 699px) {
  .contenedor {
    flex-direction: column;
  }

  .valores-container {
    margin-top: 15px ;
    margin-left: 12%;
  }

  .valores-container h2 {
    margin-top: 1rem ;
  }

  .valores-section {
    padding: 0 1rem;
  }

  .breadcrumb {
    display: block;
  }
}
/* ======== Equipo ======== */
.equipo {
    text-align: center;
    padding: 40px;
    background-color: var(--site-color-fondo-1);
    font-family: var(--site-font-body);
  }

  .menu {
    text-align: left;
    
  }
  
  .equipo h2 {
    font-family: var(--site-font-title);
    font-size: 2em;
    margin-bottom: 30px;
    color: var(--site-color-negro-texto);
  }
  
  .fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .miembro {
    width: 200px;
    text-align: center;
  }
  
  .miembro img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  .miembro img:hover {
    transform: scale(1.05);
  }
  
  .miembro h3 {
    margin: 0;
    font-size: 1.1em;
    font-family: var(--site-font-title);
    color: var(--site-color-negro-texto);
  }
  
  .miembro p {
    font-size: 0.9em;
    color: #666;
  }
