
  .boton-volver-formulario {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--site-color-verde); 
    color: var(--site-color-blanco-texto); 
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-family: var(--site-font-body), sans-serif; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
  }
  
  .boton-volver-formulario:hover {
    background-color: #45A049; 
  }
  
  .boton-volver-formulario:focus {
    outline: none; 
    box-shadow: 0 0 5px 2px var(--site-color-verde); 
  }
  
 
.eliminar-botones {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
 
  .eliminar-boton {
    padding: 10px 20px;
    background-color: var(--site-color-verde);
    color: var(--site-color-blanco-texto);
    font-family: var(--site-font-body), sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .eliminar-boton:hover {
    background-color: var(--site-color-lila);
    transform: scale(1.05);
  }
  
  
  .boton-regresar {
    display: block;
    margin-top: 30px;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--site-color-lila);
    color: var(--site-color-blanco-texto);
    font-family: var(--site-font-body), sans-serif;
    text-decoration: none;
    border-radius: 8px;
  }
  
  .boton-regresar:hover {
    background-color: var(--site-color-verde);
  }
  