<h3>Hola <span id="name-user"></span></h3>
<a href="../usuarios/configuracion.html" class="navegar">Configuración</a>
<a href="../usuarios/editpreferences.html" class="usuario navegar">Mis preferencias</a>
<a href="../usuarios/matchrealizados.html" class="usuario navegar">Mis match</a>
<!-- <a href="../usuarios/adopciones.html" class="usuario navegar">Mis aplicaciones</a> -->
<a href="../mascotas/ver-mascotas.html" class="admin navegar">Mis mascotas</a>
<!-- <a href="../usuarios/adminadopt.html" class="admin navegar">Administrar adopciones</a> -->