<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
  <div class="container-fluid px-3 px-lg-5 d-flex justify-content-between align-items-center">
    <div class="logo-container d-flex align-items-left">
      <a class="navbar-brand d-flex align-items-center gap-2 fw-bold text-white fs-2" href="../index.html">
        <img alt="Icono de Huellas y yo" class="logo-img d-inline-block align-text-top img-fluid" height="60"
          src="../images/icono_simple.png" width="60" />
        Huellas y yo
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse side-collapse justify-content-center text-center" id="navbarNav">
      <ul class="navbar-nav d-flex flex-column flex-md-row flex-wrap gap-2 p-2 justify-content-center custom-flex">

        <li class="nav-item">
          <a class="nav-link nav-link-tamaño rounded-pill bg-verde-root text-white" href="../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-tamaño rounded-pill bg-verde-root text-white" href="../galeria/galeria.html">Galería</a>
        </li>
        <li class="nav-item" id="match">
          <a class="nav-link nav-link-tamaño rounded-pill bg-verde-root text-white" href="../usuarios/tinder.html">Haz match</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-tamaño rounded-pill bg-verde-root text-white"
            href="../informacion/quienes_somos.html">Nosotros</a>
        </li>

        <li class="nav-item d-lg-none disponible" id="opcionCuenta">
          <a class="nav-link nav-link-tamaño rounded-pill bg-verde-root text-white" style="cursor: pointer;" href="../usuarios/configuracion.html">Mi cuenta</a>
        </li>

        <li class="nav-item d-lg-none disponible" id="cerrarSecion">
          <a class="nav-link nav-link-tamaño rounded-pill bg-verde-root text-white cerrarSesion" style="cursor: pointer;">Cerrar Sesión</a>
        </li>

        <li class="nav-item d-lg-none inicio">
          <a class="btn btn-success bg-verde-root-2 gap-2 p-2 text-white fw-bold" href="../auth/login.html">
            Iniciar sesión
          </a>
        </li>

        <li class="nav-item d-lg-none inicio">
          <a class="btn btn-success bg-verde-root gap-2 p-2 text-white fw-bold" href="../auth/registro.html">
            Registrate
          </a>
        </li>

      </ul>
    </div>

    <!-- Botón iniciar sesión para pantallas grandes -->
    <div class="d-none d-lg-flex inicio">
      <a class="btn btn-success bg-verde-root-2 text-white fw-bold" href="../auth/login.html">
        Iniciar sesión
      </a>
    </div>

    <div class="d-none d-lg-flex ms-3 inicio">
      <a class="btn btn-success bg-verde-root text-white fw-bold" href="../auth/registro.html">
        Registrate
      </a>
    </div>

    <!-- Avatar dropdown para pantallas grandes -->
    <div class="dropdown d-none d-lg-block disponible" id="avatar-usuario">
      <a id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img id="imagen-avatar" src="" alt="Rounded avatar" class="rounded-circle" width="40"
          height="40">
      </a>

      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" style="cursor: pointer;" href="../usuarios/configuracion.html">Mi cuenta</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item cerrarSesion" style="cursor: pointer;">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>