<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleplantillaperfil.css">
    <link rel="shortcut icon" href="../images/icono_simple.png" type="image/x-icon">
    <title>Document</title>
</head>

<body>
    <!-- <div class="sidebar">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div> -->
    <main>
        <section class="contenedorgeneral">
            <section class="sidebar">
                <h3>Hola Usuario</h3>
                <a href="">Configuración</a>
                <a href="">Mis preferencias</a>
                <a href="">Mis match</a>
                <a href="">Mis aplicaciones</a>
                <a href="">Cerrar sesión</a>
            </section>

            <section class="contenido">
                <h3>Configuración</h3>
            </section>

        </section>


    </main>
</body>

</html>