main {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F5F7FA;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   font-family: 'Quicksand', sans-serif;
}

.contenedor {
   width: 420px;
   background-color: #fff;
   border-radius: 10px;
   text-align: center;
   padding: 15px 30px 0px 30px;
   margin-bottom: 15px;
}


.contenedor h1 {
   font-family: 'Fredoka', sans-serif;
   font-size: 2em;
   margin-bottom: 30px;
   color: #225D24;
   margin: 0 0 30px 0;
}

.contenedor .form-princ {
   width: 102%;
   overflow: hidden;
}

.form-princ form {
   display: flex;
   width: 306%;
}

.form-princ form .pagina {
   width: 34%;
   transition: margin-left 0.3s ease-in-out;
   height: 200px;
}

.form-princ form .pagina .titulo {
   text-align: left;
   font-size: 20px;
   font-weight: 500;
   color: #225D24
}

.form-princ form .pagina .campo {
   height: 35px;
   width: 350px;
   margin: 40px 0;
   display: flex;
   position: relative;
}

.form-princ form .pagina .campo .label {
   position: absolute;
   top: -30px;
   font-weight: 500;
   font-size: 16px;
   float: left;
   text-align: left;
   width: 100%;
}

.form-princ form .pagina .campo input {
   width: 100%;
   height: 100%;
   border: 1px solid lightgray;
   border-radius: 8px;
   font-size: 14px;
   padding-left: 15px;
   font-family: 'Quicksand', sans-serif;
}

.form-princ form .pagina .campo select {
   width: 100%;
   padding-left: 10px;
   font-size: 16px;
   font-weight: 500;
   border: 1px solid lightgray;
   border-radius: 8px;
   font-family: 'Quicksand', sans-serif;
}

.form-princ form .pagina .campo button {
   width: 100%;
   height: calc(100% + 5px);
   margin-top: -20px;
   border: none;
   border-radius: 8px;
   background: #225D24;
   font-family: 'Quicksand', sans-serif;
   color: #fff;
   font-size: 17px;
   font-weight: 500;
   letter-spacing: 1px;
   text-transform: uppercase;
   cursor: pointer;
   transition: 0.3s ease;
}

.form-princ form .pagina .campo button:hover {
   background: lightgreen;
}

.form-princ form .pagina .btns button {
   margin-top: -20px !important;
}

form .pagina .btns button.volver {
   margin-right: 3px;
   font-size: 17px;
}

form .pagina .btns button.adelante {
   margin-left: 3px;
}

.contenedor .progress-bar-manual {
   display: flex;
   margin: 30px 0;
}

.contenedor .progress-bar-manual .paso {
   text-align: center;
   width: 100%;
   position: relative;
}

.progress-bar-manual .paso p {
   font-size: 16px;
   font-weight: 500;
   color: black;
   margin-bottom: 8px;
   transition: 0.2s;
}

.progress-bar-manual .paso p.active {
   color: #225D24;
}

.progress-bar-manual .paso .num {
   position: relative;
   width: 35px;
   height: 35px;
   border: 2px solid #000;
   border-radius: 50%;
   display: inline-block;
   font-weight: 500;
   font-size: 17px;
   line-height: 25px;
   transition: 0.2s;
}

.progress-bar-manual .paso .num.active {
   border-color: #225D24;
   background: #225D24;
}

.progress-bar-manual .paso .num span {
   font-weight: 500;
   font-size: 17px;
   line-height: 25px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.progress-bar-manual .paso .num.active span {
   display: none;
}

.progress-bar-manual .paso .check {
   display: none;
   position: absolute;
   left: 50%;
   top: 70%;
   font-size: 15px;
   transform: translate(-50%, -50%);
}

.progress-bar-manual .paso .check.active {
   display: block;
   color: #fff;
}


.progress-bar-manual .paso .num:before,
.progress-bar-manual .paso .num:after {
   position: absolute;
   content: '';
   width: 44px;
   height: 2px;
   bottom: 11px;
   right: -53px;
   background: #000;
}

.progress-bar-manual .paso:last-child .num:before,
.progress-bar-manual .paso:last-child .num:after {
   display: none;
}

.progress-bar-manual .paso .num.active:after {
   background: #225D24;
   animation: mov_Linea 0.3s linear forwards;
   transform: scaleX(0);
   transform-origin: left;
}

@keyframes mov_Linea {
   100% {
      transform: scaleX(1)
   }
}

.mi-alerta-personalizada {
   font-family: 'Quicksand', sans-serif;
   background-color: #f0f9ff;
   border-radius: 20px;
   padding: 20px;
   color: #000;
   font-size: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.ok-personalizado {
   font-family: 'Quicksand', sans-serif;
   background-color: #225D24;
   font-size: 15px;
}